<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TraditionalChinese.Properties.Settings.ChineseStudyConnectionString1"
      connectionString="Data Source=jb1essy2yr.database.windows.net;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=GalleryServerPro;Password=GalleryOnAzure3870!"
      providerName="System.Data.SqlClient" />
    <add name="TraditionalChinese.Properties.Settings.ChineseStudyConnectionString"
      connectionString="Data Source=jb1essy2yr.database.windows.net;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=GalleryServerPro;Password=GalleryOnAzure3870!"
      providerName="System.Data.SqlClient" />
    <add name="TraditionalChinese.Properties.Settings.ChineseStudyConnectionString2"
      connectionString="Data Source=jb1essy2yr.database.windows.net;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=GalleryServerPro;Password=GalleryOnAzure3870!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>